
<h2><center>Welcome back, <%= current_user.username %></center></h2>

<div class="ui three item menu">
  <a class="item" href="/users/<%= current_user.id %>/challenges/new">Game Page</a>
  <a class="item" href="/users/:id/stats">Your Stats</a>
  <a class="item" href="/users/:id/edits">Edit Profile</a>
</div>
