<h1><center>Welcome to TRIVIA</center></h1><br>
<center>
<% if logged_in? %>
 <%= link_to "Go to Userpage", user_path(current_user), {class: "fluid ui blue button"} %>
<% else %>
 <div class="ui two item blue menu">
   <%= link_to "Sign In", new_session_path, {class: 'item'} %>
   <%= link_to "Sign Up", new_user_path, {class: 'item'} %>
 </div>
<% end %>

<%= image_tag(image_path("cover.png"), size:"850x349") %>
</center>
